@import '../../../variables';

.popupContainer#notification {
    width: 500px;
    height: 300px;

    .header {
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        line-height: 50px;
        span {
            margin-left: 15px;
            color: $primary_pink;
        }
    }

    .content {
        overflow-y: scroll;
        height: 160px;
        @include flex_set_center;
        p {
            margin: auto;
        }
    }

    .footer {
        height: 90px;
        @include flex_set_center;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        button {
            color: white;
            background-color: $primary_pink;
            border-radius: 5px;
            height: 40px;
            width: 100px;
        }
    }
}