@import 'src/variables.scss';

.loginContentsWrapper {
  width: 100%;
  height: 100%;
  font-weight: bold;
  background-image: url('../../resource/images/loginpage_background.png');
  @include background-cover;
  @include flex_set_center;
    .loginFormContainer {
      background-color: white;
      width: 600px;
      @include isMobile {
        width: 80%;
      }

      border-radius: 15px;
      padding: 20px;
      @include box_shadow_up;
      @include flex_set_center;

      .loginContentWrapper {
        @include flex_set_column;
        width: 70%;
        @include isMobile {
          width: 90%;
        }

        .logo_header {
          text-align: center;
          font-size: 3rem;
          color: $light_gray;
        }

        .content {
          @include flex_set_column;
          width: 100%;
          padding: 25px 0 35px 0;
          font-size: 1.8rem;
          @include isMobile {
            padding: 25px 0 15px 0;
          }

          button {
            width: 100%;
            height: 40px;
            background-color: $primary_pink;
            border-radius: 15px;
            margin: 20px 0;
            color: white;
            font-weight: bold;
            font-size: 1.8rem;
            @include isMobile {
              margin: 10px 1px;
              width: 80%;
              height: 25px;
            }
          }

          .login_keep {
            color: $light_gray;
            @include flex_set_center;
            font-size: 1.6rem;
            //@include isMobile {
            //  font-size: 13px;
            //}

            input[type = "checkbox"] {
              display: none;

              &:checked ~ #custom_checkbox {
                color: $primary_pink;

                &:before {
                  content: '\2713';
                  color: white;
                  background-color: $primary_pink;
                  border-color: white;
                }
              }
            }

            #custom_checkbox {
              cursor: pointer;
              @include flex_set_center;

              &:before {
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                border: 1px solid $light_gray;
                margin-right: 10px;
                border-radius: 3px;
              }
            }
          }
        }

        .footer {
          @include flex_set_column;
          color: $light_gray;
          font-weight: bold;

          .lost_pwd {
            color: $light_gray;
            margin-bottom: 15px;
            font-size: 1.6rem;
            @include isMobile {
              margin-bottom: 5px;
              //font-size: 12px;
            }

            &:hover {
              color: $primary_pink;
              text-decoration: underline;
            }
          }

          .signup {
            font-size: 1.7rem;
            //@include isMobile {
            //  font-size: 12px;
            //}

            button {
              color: $primary_pink;
              font-weight: bold;
              //@include isMobile {
              //  font-size: 12px;
              //}

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      img {
        border-radius: 0 15px 15px 0;
        width: 60%;
      }
    }
}