@import 'src/variables.scss';

header.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $topbar_height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 40px;
  z-index: 1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  .left_section {
    height: 100%;
    @include flex_set_center;
    img {
      height: 70%;
    }

    span {
      color: $primary_pink;
      margin-left: 15px;
    }
  }

  .right_section {
    display: flex;
    column-gap: 35px;
    font-size: 16px;
    font-weight: normal;
    color: #939393;

    span {
      cursor: pointer;
      &:hover {
        color: $primary_pink;
      }
    }
  }
}