@import 'src/variables';

.popupBackground {
  z-index: 98;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  @include flex_set_center;
}

.popupContainer {
  z-index: 99;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}