@import 'src/variables.scss';

.workspace_root {
  @include exclude_topbar;

  .single_info_container {

    @include flex_set_column;

    img {
      width: 230px;
      margin-bottom: 20px;
    }

    .solo_desc {
      font-weight: 500;
      font-size: 23px;
      margin-bottom: 20px;
    }

    .link_connect {
      font-size: 17px;
      width: 250px;
      height: 50px;
      border-radius: 10px;
      color: white;
      background-color: $primary_pink;

    }
  }

  .item_container {
    @include flex_set_center;

    .item {
      width: 100px;
      height: 100px;
      border: 1px solid black;
    }
  }
}