@import 'src/variables.scss';

.workspace_root {
  padding: 20px;

  .single_info_container {
    @include flex_set_column;
    img {
      width: 230px;
      margin-bottom: 20px;
    }

    .solo_desc {
      font-weight: 500;
      font-size: 23px;
      margin-bottom: 20px;
    }

    .link_connect {
      font-size: 17px;
      width: 250px;
      height: 50px;
      border-radius: 10px;
      color: white;
      background-color: $primary_pink;

    }
  }

  .item_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: 10px;

    .item {
      width: 220px;
      height: 80px;
      border-radius: 10px;
      background-color: $background_gray;
      color: $font_gray;
      @include flex_set_center;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: $primary_pink;
      }
    }
  }
}