@import 'src/variables.scss';

.CalendarContentsWrapper {
  width: 100%;
  height: 100%;
  display: flex;

  header.main_header {
    width: 100%;
    height: 70px;
    padding: 0 30px;
    @include flex_set_space_between;
    img {
      height: 60%;
    }

    .right_menu_container{
      @include flex_set_center;
      column-gap: 15px;

      .item_container {
        @include box_up;

        width: 50px;
        height: 50px;
        @include flex_set_center;

        img {
          height: 50%;
        }
      }
    }
  }
}