@import 'src/variables.scss';

.home {
  width: 100%;
  @include exclude_topbar;
  display: flex;

  header.main_header {
    width: 100%;
    height: 70px;
    padding: 0 30px;
    @include flex_set_space_between;

    img {
      height: 60%;
    }

    .right_menu_container{
      @include flex_set_center;
      column-gap: 15px;

      .item_container {
        @include box_up;

        width: 50px;
        height: 50px;
        @include flex_set_center;

        img {
          height: 50%;
        }
      }
    }
  }

  .section_member {
    width: 70px;
    border-right: 1px solid #00000020;
    .member_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
      .member1, .member2 {
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include flex_set_center;
      }
      .member1 {
        margin-top: 10px;
        background-color: $background_member1;
      }
      .member2 {
        background-color: $background_member2;
      }
    }
  }

  .section_calendar {
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #00000020;

    section.function_menu {
      width: 100%;
      height: 90px;
      padding: 10px 30px;

      .calendar_submenu {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .calendar_controller {
          height: 70%;
          @include flex_set_center;
          column-gap: 20px;

          button {
            width: 50px;
            height: 100%;
            @include flex_set_center;
            background-color: #fafafa;
            border-radius: 10px;
            &.add_event {
              width: fit-content;
              padding: 0 10px;
              color: #96999E;
              font-size: 15px;
              &:hover {
                color: white;
                background-color: $primary_pink;
                transition: all linear 0.1s;
              }
            }
            img {
              width: 40%;
            }
          }
        }

        .date_shower {
          //@include box_up;
          width: fit-content;
          padding: 0 20px;
          height: 70%;
          @include flex_set_center;
          text-align: center;
          font-size: 17px;
          box-shadow: 0 0 10px $primary_pink;
        }
      }
    }

    section.main_container {
      width: 100%;
      padding:  15px 30px;
      flex: auto;

      .calendar {
        width: 100%;
        height: 100%;
        border: 1px solid #00000030;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .weekdayRow {
          height: 40px;
          border-bottom: 1px solid #00000020;
          display: flex;
          .weekDayCell {
            flex: auto;
            border-right: 1px solid #00000020;
            line-height: 40px;
            text-align: right;
            padding-right: 10px;
            font-weight: 500;
            &:nth-child(1) {
              color: red;
            }
            &:nth-child(7) {
              border-right: none;
            }
          }
        }

        .weekRows {
          flex: auto;
          display: flex;
          flex-direction: column;

          .weekRow {
            flex: 1;
            border-bottom: 1px solid #00000020;
            &:nth-child(7) {
              border-bottom: none;
            }
            display: flex;

            .dayCell {
              flex: 1;
              border-right: 1px solid #00000020;
              padding:  5px 10px;
              display: flex;
              flex-direction: column;
              cursor: pointer;
              &:nth-child(7) {
                border-right: none;
              }

              .dayWrapper {
                flex: 1;
                text-align: right;
              }

              &:hover {
                background-color: rgba(0, 0, 0, 0.03);
              }

              .eventWrapper {
                flex: 7;
                .event_item {
                  background-color: $primary_pink;
                  border-radius: 5px;
                  color: white;
                  font-size: 12px;
                  width: 80%;
                  padding: 1px 3px;
                }
              }
            }
          }
        }
      }
    }
  }

  .section_detail {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}