@import '/src/variables.scss';

.ConnectionContentContainer {
    z-index: 1;
    @include flex_set_column;

    .myInvitationContainer {
        margin-top: 20px;
        @include flex_set_center;
        font-size: 30px;

        .myInvitationCode {
            margin-left: 15px;
            @include flex_set_center;
            column-gap: 15px;

            .codeItem {
                border: 1px solid black;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                background-color: white;
                text-align: center;
                line-height: 40px;
            }
        }
    }

    .invitationGuide {
        margin-top: 15px;
        font-size: 22px;
        color: #00000080;
        @include flex_set_center;

        .counter {
            position: relative;
            margin-left: 30px;
            width: 130px;

            .counter_status {
                font-size: 17px;
                height: 100%;
                position: absolute;
                right: 0;
                color: green;
                font-weight: bold;
            }
        }
    }

    .codeInputContainer {
        margin-top: 15px;
        @include flex_set_center;
        column-gap: 20px;

        .codeInputItem {
            width: 55px;
            height: 55px;
            border: 1px solid #00000020;
            border-radius: 5px;
            background-color: white;
        }
    }

    .invitationCodeStatus {
        font-weight: bold;
        font-size: 19px;
        margin-top: 10px;
        color: red;
    }

    .codeSubmitBtn {
        margin-top: 10px;
        border-radius: 8px;
        width: 150px;
        height: 39px;
        background-color: $primary_pink;
        border: none;
        color: white;
    }
}