.heart_image_wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(3, 1fr);
        .a {
            // TODO 애니메이션 구현
            position: absolute;
            animation-duration: 4s;
            animation-name: showSlowly;
            animation-iteration-count: infinite;
        }
  }

  @keyframes showSlowly {
      0% {
          opacity: 0;
      }

      50% {
          opacity: 1;
      }

      100% {
          opacity: 0;
      }
  }

