@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  margin : 0;
}

body {
  position: relative;
}

button {
  border: none;
  cursor : pointer;
  background-color: inherit;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  padding: 0;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}