@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
  font-family: 'Gamja Flower', cursive;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  margin : 0;
  background-color: #F0F0F3;
}

button {
  border: none;
  cursor : pointer;
  background-color: inherit;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  padding: 0;
}

input {
  outline: none;
}