@import 'src/variables';

$left_margin: 60px;
$padding_bottom: 80px;

.popupContainer#eventAdd {
  width: 600px;
  position: relative;
  padding-bottom: $padding_bottom;
  padding-top: 30px;

  input[type = 'text']{
    &.titleInput {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      width: 400px;
      font-size: 20px;
      &:focus {
        border-bottom: 1px solid $primary_pink;
      }
    }
  }

  .dataStateWrapper {
    margin-left: 20px;
    position: relative;
    .dataState {
      position: absolute;
      transition: transform linear 0.1s;
    }
  }

  .eventContentRow {
    margin-top: 20px;
    display: flex;
    align-items: center;
    .eventContentImgHolder {
      width: $left_margin;
      @include flex_set_center;
    }
    .memoInput {
      border: 1px solid $line_gray;
      border-radius: 5px;
      width: 400px;
      height: 100px;
      resize: none;
      &:focus {
        border: 1px solid $primary_pink;
        outline: none;
      }
    }
  }

  .eventAddPopupBottomBtn {
    position: absolute;
    width: 80px;
    height : 40px;
    border-radius: 5px;
    bottom: 10px;
    &#submit {
      right: 120px;
      @include button_primary;
    }

    &#close {
      right: 20px;
      @include button_gray;
    }
  }
}