@import 'src/variables';

$left_margin: 60px;

.popupContainer#eventAdd {
  width: 600px;
  height: 400px;
  position: relative;

  input[type = 'text']{
    &.titleInput {
      margin-top: 50px;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      width: 400px;
      font-size: 20px;
      margin-left: $left_margin;
      &:focus {
        border-bottom: 1px solid $primary_pink;
      }
    }
  }

  .imgHolder {
    width: $left_margin;
    @include flex_set_center;
  }

  .datePicker {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .memoContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    .memoInput {
      border: 1px solid $line_gray;
      border-radius: 5px;
      width: 400px;
      height: 100px;
      resize: none;
      &:focus {
        border: 1px solid $primary_pink;
        outline: none;
      }
    }
  }

  button {
    position: absolute;
    width: 80px;
    height : 40px;
    border-radius: 5px;
    bottom: 10px;
    &.submit {
      right: 120px;
      @include button_primary;
    }

    &.close {
      right: 20px;
      @include button_gray;
    }
  }
}