@import 'src/variables';

.section_detail {
  flex: auto;
  @include isMobile {
    display: none;
  }

  .showDate {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $line_gray;
    line-height: 60px;
    font-size: 18px;
    padding-left: 15px;
  }

  ul.eventContainer {
    width: 100%;
    padding: 20px;
    li.eventItem {
      width: 100%;
      border: 1px solid $primary_pink;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      &.clickable {
        cursor: pointer;
      }

      .title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .time {
        font-size: 15px;
      }
      .memo {
        font-size: 15px;
      }
      .memberContainer {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 10px;
      }
    }
  }
}